.text {
  font-size: small;
}
.date {
  max-width: 70px;
}
.info {
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.error {
  color: red;
}
.faded {
  color: lightgray;
  font-style: italic;
}